#header {
    font-size: 20pt;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-self: center;
    flex-basis: 30%;
    justify-content: center;
    flex-wrap: wrap;
  }
  #yelpLogo {
    display: flex;
    max-width: 320px;
  }
  #review {
    margin-top: 10px;
    align-self: center;
    color: rgb(254, 254, 254);
    font-size: 50pt;
    text-shadow: 5px 5px black;
  }
  #app {
    background-image: url(./Shared/images/homeback.png);
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100vh; 
    justify-content: space-evenly;
  }
  #gif {
    display: flex;
    align-self: center;
    width: 100px;
    margin-top: 10px;
  }
  #card{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: rgb(226, 226, 226);
    border:20px solid #990000; 
    padding: 5px;
    border-radius:10px;
    min-width: 320px;
    height: 320px;
    margin-bottom: 10px;
  }
  #name {
    display: flex;
    flex-wrap: wrap;
    color: #990000;
  }
   #contact{ 
    display: flex; 
    flex-flow: column; 
  } 
  #link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  #bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #stars {
    padding-right: 30px;
  }
  #removeBtn{
    color: #FFF;
    background: #990000;
    width: 150px;
    height: 60px; 
    font-size: 18pt;
    font-weight: bold;
    border-radius: 10px;
    outline:none;
  }
  #removeBtn:hover {
    background: rgb(255, 147, 128);  
  }